 <!-- <div id="data-modeling" class="row">
       <button  class="accordion">DATA Modeling<span class="pull-right"><%= image_tag "downarrow.jpg" %>
       </span>
     </button>
          <div  class="panel">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                 exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
               </p>
          </div>
</div> -->
 <div  class="row">
    <div class="accordion">
          <div id="data-visualization" class="accord-header">DATA VISUALIZATION <span class="pull-right"><%= image_tag "downarrow.jpg" %> </span>
          </div>
                <div class="accord-content">Data visualization content</div>
          <div id="data-modeling" class="accord-header">DATA MODELING<span class="pull-right"><%= image_tag "downarrow.jpg" %> </span>
          </div>
                <div class="accord-content">This is the content for the first header.</div>
          
    </div>
 </div>

<script type="text/javascript">
  $(document).ready(function() {
    $(".accordion .accord-header").click(function() {
        if($(this).next("div").is(":visible")){
            $(this).next("div").slideUp("slow");
        } else {
            $(".accordion .accord-content").slideUp("slow");
            $(this).next("div").slideToggle("slow");
        }
    });
    $(".accordion .accord-header:eq(1)").trigger('click');
});
</script>


<!--

<script type="text/javascript">
    $(document).ready(function() {
        $('html, body').hide();
        if (window.location.hash) {
            setTimeout(function() {

                $('html, body').scrollTop(0).show();
                $('#data-modeling').css('color', 'red');
                $('html, body').animate({
                    scrollTop: $(window.location.hash).offset().top
                    }, 1000)
            }, 0);
        }
        else {
            $('html, body').show();
        }
    });
</script>-->

