<!-- careers page  -->

<!-- first row -->
<div class="row">
   <div class="col-lg-12 imageFullScreen">
                    <%= image_tag "bpm-page/bpmimage-makto.jpg", :class => 'img-responsive' %>
                    <!-- <div class="businessImageData">
                        <h3>BPM</h3>
                    </div> -->
   </div>
</div>
<!-- Second Row -->
<div class="row">
   <div class="col-lg-6">
      <% @statics.each do |contactus| %>
         <table>
               <tr>
                  <th>Job Title:</th>
                  <td><%= contactus.name %></td>
               </tr>
                <tr>
                   <th>Job Roles:</th>
                   <td><%= contactus.email %></td>
                </tr>
                <tr>
                    <th>Job Responsibility:</th>
                    <td><%= contactus.phone %></td>
                </tr>
          </table>
      <% end %>
     
   </div>
   <div class="col-lg-6">
        <p>This div contains some data.</p>
   </div>
</div>
