<!-- careers page  -->

<!-- first row -->
<div class="row">
   <div class="col-lg-12 imageFullScreen">
                    <%= image_tag "bpmimage-makto.jpg", :class => 'img-responsive' %>
                    <!-- <div class="businessImageData">
                        <h3>BPM</h3>
                    </div> -->
   </div>
</div>
<!-- Second Row -->
<div class="row">
   <div class="col-lg-6">
      <ul>
      	<li>Job Title</li>
      	<li>Roles</li>
      	<li>Responsibility</li>
      </ul>
   </div>
   <div class="col-lg-6">
        <p>This div contains some data.</p>
   </div>
</div>