<div class="row">
   <%= image_tag "company-page/makto-aboutus.jpg", :class => 'img-responsive' %>
</div>
<!-- company first Row -->
<div class="row maktoBrief"><!-- Why Makto -->
    <div class="col-lg-5 col-md-6 col-sm-6 imageFullScreen">
      <%= image_tag "company-page/makto-whychoose.jpg", :class => 'img-responsive whyMaktoImage' %>
    </div>
<!--     why choose us  -->
    <div class="col-lg-6 col-md-6 col-sm-6 col-sm-8">
        <div class="whyMaktoHeading">
            <h2>Why choose us</h2>
        </div>
         <div class="explanation">
             Makto Technology Private LImited, incorporate in early 2017 and backed by <br class="hidden-xs">
             ex- IT professinals with hands on experience of 12 years in diversifired market<br class="hidden-xs"> vertilces
         </div>
         <div class="explanation">
             The company believes in simplifying business operations by solving IT complexity <br class="hidden-xs">
             introducing cutting edge technology and leveraging best practises, thereby <br class="hidden-xs">reducing operating costs.
         </div>
    </div>
</div>
<!-- company page second Row -->
<%= render 'static/team' %>
