<!-- company first Row -->
<div class="row maktoBrief"><!-- Why Makto -->
    <div class="col-lg-6 col-md-6 hidden-sm">
        <center><%= image_tag "http://via.placeholder.com/450X300", :class => 'img-responsive' %></center>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-8">
         <h2>WHY MAKTO</h2>
         <div class="explanation">
             Makto Technology Private LImited, incorporate in early 2017 and backed by <br class="hidden-xs">
             ex- IT professinals with hands on experience of 12 years in diversifired market<br class="hidden-xs"> vertilces
         </div>
         <div class="explanation">
             The company believes in simplifying business operations by solving IT complexity <br class="hidden-xs">
             introducing cutting edge technology and leveraging best practises, thereby <br class="hidden-xs">reducing operating costs.
         </div>
    </div>
</div>
<!-- company page second Row -->
<%= render 'static/team' %>
