<div class="row">
      <div class="mapLayout">
           <div id="map" class="img-responsive">
           </div>
     </div>
</div>
<div class="row">
    <div  class="col-lg-6 ">
       <%= render 'static/contactus_form' %>
    </div>
    <div class="col-lg-6">
                 <h2> Registered Office</h2>
            <p>
                  No.33 Mohandas Kalyani, Ragamalika Phase 2<br> Medavakkam, chennai 600 100.
            </p>
                 <h2> Coimbatore</h2>
            <p>
             GF 30. Elcot.SEZ, IT/ITeS, Tidel Park, <br>
             Coimbatore 641014, Tamilnadu, india.<br>
             Email: info@maktoinc.com,<br>
             Contact: 8056592140.
            </p>        
    </div>
</div>

<script>
function initMap() {
   var uluru = {lat: 11.031670,  lng:77.018820 };
   var map = new google.maps.Map(document.getElementById('map'), {
     zoom: 15,
     center: uluru
   });
   var marker = new google.maps.Marker({
     position: uluru,
     map: map
   });
 }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4CuJbaoJC2-QwRfg9_5fGJZCYDn38694&callback=initMap">
</script>
