<!-- alert message display -->
 <% if flash[:notice] %>
     <div class="row">
       <h6 style="color:red;"> <%= flash[:notice] %></h6>
     </div>
 <% end %>
 <!-- google map -->
<div class="row">
      <div class="mapLayout">
           <div id="map" class="img-responsive">
           </div>
     </div>
</div>
<div class="row">
    <div  class="col-lg-6 col-md-6 col-sm-6 contactusForm">
       <%= render 'static/contactus_form' %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
         <div class="col-lg-offset-4 col-md-offset-3 col-sm-offset-1 office">
                 <h2> Registered Office</h2>
            <p>
                  No.33 Mohandas Kalyani, Ragamalika Phase 2<br class="hidden-xs hidden-sm"> Medavakkam, chennai 600 100.
            </p>
                 <h2> Coimbatore</h2>
            <p>
             B2, First Floor, Rathinam Technical <br class="hidden-lg hidden-md hidden-sm">Campus<br class="hidden-xs">
             Eachanari, Pollachi Main Road,<br>
             Coimbatore 641 021, Tamilnadu, India.<br>
             Email: info@maktoinc.com,<br>
             Contact: 8056592140.
            </p>
          </div>        
    </div>
</div>

<script>
function initMap() {
   var uluru = {lat: 10.933980,  lng:76.980398 };
   var map = new google.maps.Map(document.getElementById('map'), {
     zoom: 15,
     center: uluru
   });
   var marker = new google.maps.Marker({
     position: uluru,
     map: map
   });
 }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4CuJbaoJC2-QwRfg9_5fGJZCYDn38694&callback=initMap">
</script>
