<!-- enterprise mobility -->
<!-- services/enerprise mobility -->

<!-- first Row -->
<div class="row">
   <div class="col-lg-12 imageFullScreen">
                    <%= image_tag "enterprise-page/mobilityheader.jpg", :class => 'img-responsive' %>

                    <div class="enterpriseImageData">
                        <h3>ENTERPRISE MOBILITY</h3>
                    </div>
   </div>
</div>

<!-- second Row -->
<div style ="background-color: #f7f7f6;"class="row">
    <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 mobilitySectionImage">
       <%= image_tag "enterprise-page/mobilitysection.jpg" , :class => 'img-responsive' %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12 mobilitySectionContent">
         <div class="mobilityHeading">
            <h2> Global Mobility market will be worth $140 billion by 2020 </h2>
         </div>
         <div class="mobilityContent">
           <ul>
             <li><p>Company render services on mobile paplication development, seamless integration to enterprise data on mobile devices and mobility testing.</p></li>
             <li><p>Support to build paplication based on specific requirements to enhance seamless integraton of existing enterprise solutions to mobile devices.</p></li>
             <li><p>Industry specific mobile solutions to increase efficienceies with mobile driven business processes and also reduces time and cost.</p></li>
           </ul>
         </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
       <div class="mobilitySalesHeading">
          <h2>Sales Force Mobility Solution</h2> 
       </div>
       <ul class="mobilitySalesContent">
          <li><p>Keep track of sales acitivities of on the go
          </p></li>
          <li><p class="customList">Include generating Sales Orders, Roles based access, Process implementation and access to inventory details</p></li>
          <li><p>KPI dashboard on CIO / Management group to view sales forecast</p></li>
       </ul>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12 ">
        <div class="mobilityFormLink">
           <h3>Fill out a form and we will <br>get back to you.</h3>
         <center><button data-toggle="modal" data-target="#largeModal" class="btn btn-default"> click Here</button></center> 
        </div>
    </div>
</div>
<!-- enterprise mobility page end-->
<!-- alert message display -->
 <% if flash[:notice] %>
     <div class="row col-lg-offset-8">
       <h6 style="color:green;"> <%= flash[:notice] %></h6>
     </div>
 <% end %>
<!-- Bootstrap Modal for Enterprise Form -->

<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="pull-right">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
        <h4 class="modal-title text-center" id="myModalLabel">ENQUIRY FOR ENTERPRISE MOBILITY</h4>
      </div>
      <div class="modal-body">
          <%= render 'static/enterprise_form' %>
      </div>
      <div class="modal-footer">
        <div class="pull-right">
            <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Close</button>
        </div>
        
      </div>
      
    </div>
  </div>
</div>
